
.vscode/
.env
submitfiles/
# any folder __pycache__/ in any subfolder
**/__pycache__/
# any folder output/ in any subfolder
**/output/
**/figures/
# any file prepended with unused_
unused_*
unused_*/
# any shell script
*.sh
*.asv
*.pkl
*.npy
*.h5
paper/experiments_phaserando/figures/
paper/experiments_realdata/figs/
paper/experiments_realdata/loss_curves
paper/synthetic_analysis/figs/
paper/synthetic_analysis/fits/
#any folder with unused_ in the name
**/unused_*/
PCMM.egg-info/
paper/data/external/*
!paper/data/external/Schaefer2018_100Parcels_7Networks_order_Tian_Subcortex_S1.dlabel.nii
!paper/data/external/Schaefer2018_100Parcels_7Networks_order_Tian_Subcortex_S1_label.txt
paper/data/processed/*
paper/data/raw/*
paper/data/results/*
paper/data/synthetic/*