
# Other
.vscode/
.env
.gitignore
src.egg-info/
connectome_agg/
data/
submitfiles/
# any folder __pycache__/ in any subfolder
**/__pycache__/
# any folder output/ in any subfolder
**/output/
**/figures/
# any file prepended with unused_
unused_*
unused_*/
# any shell script
*.sh
*.asv
*.pkl
*.npy
experiments_phaserando/figures/
experiments_realdata/figs/
experiments_realdata/loss_curves
src/cifti-matlab/
synthetic_analysis/figs/
synthetic_analysis/fits/
#any __init__.py file
**/__init__.py
src/__init__.py
#any folder with unused_ in the name
**/unused_*/